$colorbg: tan;
$widthH1: 400px;
$w2: body {
  background-color: $colorbg;
}

h1 {
  color: $colorbg;
  background-color: white;
  padding: 15px;
  width: $widthH1;
}

p {
  width: $widthH1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 60px 0;
}
